body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.register{
  /* background-image: url("https://i.pinimg.com/736x/7c/b1/86/7cb18679659f791b1191bea97b74dfc0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: #535252;
  
  
}


.nav-link:hover{
  color:white;
    background-color: #c4920a;
    border-radius: 10px;
    padding: 10px;
  
}

.background{
  background-color: #212529;
}

/* icons */
.logo{
  text-align: left;
  font-size: 20px;
  text-decoration-color: cadetblue;
}
.social-media{
  background-color:#212529 ;
}
.icons{
  color:white;
}
.icons i{
 font-size: 50px;
}
.icons i:hover{
  color: #023113;
}

.footer{
  padding-bottom: 20px;
}
.footer-link{
  color: black;
  font-size: 18px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.footer-link:hover{
  background-color: grey;
  border-radius: 5px;
  transition: .3s;
  color: green;
}
.form-control{
  border: none;
  border-bottom: 2px solid rgb(102, 120, 197);
  border-radius: 0px;
  background-color: transparent;
  box-shadow: none !important;
}
.quote{
font-family: 'Lobster', cursive;
  font-size: "50px";
}

.bg-r-restaurant{
  background-color:#e6e6fa;
  background-size: cover;
  height: 100%;
  

}
.login{
   background-color:#cacadf
}
.rr-form{
  background-color:#cacadf ;
}

.bg-register{
  background-color:#e6e6fa ;
}
.user-register{
  background-color:#e6e6fa;

}
.focus-in-contract {
  -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.focus-in-contracts {
  -webkit-animation: focus-in-contract 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: focus-in-contract 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes focus-in-contracts {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contracts {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

gradient-custom-3 {
  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.user-register{
  border-radius: 15px;
}
.box{
  /* min-height: max-content !important; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

}